<nav>
  <div>
    <h1>ALEC'S BLOG</h1>
  </div>
  <div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/">About</a></li>
      <li><a href="/">New Blogs</a></li>
      <li><a href="/">Create Blogs</a></li>
    </ul>
  </div>
</nav>
