<nav>
  <div class="title_div">
    <div>
      <h1><a href="/">ALEC'S BLOG</a></h1>
      <p>MINIMALITY BLOGGING FLATFORM</p>
    </div>
  </div>
  <div class="navigation_div">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/">About</a></li>
      <li><a href="/">New Blogs</a></li>
      <li><a href="/">Create Blogs</a></li>
    </ul>
  </div>
</nav>
