<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <%- include('./partials/nav.ejs')%>
  </body>
  <main>
    <div class="content_div">
      <h1>Alec Lander B. Victorio</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab quasi,
        nobis cum expedita fugit, vero doloremque, nesciunt quae eaque facere a
        consectetur nemo dicta enim. Illum consequuntur repellat delectus
        suscipit? Nobis unde mollitia accusantium beatae rem. Consequatur,
        labore ut! Ipsum adipisci nihil, at dicta illo autem nemo hic
        perferendis nesciunt totam magni vero nulla quisquam, animi repudiandae
        cupiditate officiis amet! Unde corrupti expedita, officiis fugit
        praesentium vitae. Officiis, eius dolorum nihil cum autem sit odio
        consequatur iste atque a molestias odit veniam accusamus, culpa facere
        sapiente esse nemo debitis laborum. Voluptatum distinctio deleniti ut,
        tempora quae inventore in necessitatibus natus, pariatur, commodi
        assumenda ullam optio laudantium sequi aliquid dolor? Temporibus dolores
        libero delectus tempore sit sapiente provident autem quas culpa. Nam,
        atque! Similique esse rem eos blanditiis debitis voluptatibus explicabo
        laudantium quasi consectetur, perspiciatis nihil incidunt laboriosam
        totam, fugiat necessitatibus! Repellendus aliquam, quisquam ab
        voluptatibus assumenda nam qui et voluptatem!
      </p>
    </div>
    <img
      src="370214482_329644363111966_6498907190107749665_n-removebg-preview.png"
      alt="blogger's Image"
    />
  </main>
  <%- include('./partials/footer.ejs')%>
</html>
